*{
  margin-left: 40px;
}
.section2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:fit-content;
    height:fit-content;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    /* margin-left: 20px; */
    border-radius: 8px;
  }
  .section2-title{
    margin-left: 0;
    font-size: 50px;
    padding-bottom: 40px;
    
  }
  .section2-container div {
    margin: 10px;
    height: fit-content;
  }
  .section2-container-text{ 
    padding-bottom: 5px;
  }
  .section2-container p {
    /* height: 10px; */
    font-weight: bold;
}

  .section2-button {
    background-color: #EC5544;
    color: white;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .section2-button:hover {
    background-color: #e6311c;
  }