.footer{
    width: 100%;
    padding-left:20px ;
    padding-right: 20px;
    color: white;
}
.footer-section1{
    align-items: center;
    justify-content: space-between;
}
.footer-section1-img{
    flex: 2;
    /* width: 100px; */
    /* height: 100px; */
}
.footer-section1 img{
    width: 130px;
    height: 100px;
}
.footer-section2{
    
    align-items: center;
    justify-content: space-between;
    color: #8F8F8F;
}
.footer-info{
  
    justify-content: space-around;
    flex: 1;
}
.footer-section2 img{
    margin-right: 20px;
}
