.hero-section {
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/imgs/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 130px;
  height: 100px;
}
.nav-home {
    display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  align-self: flex-end;
  height: 100%;
}
.nav-container {
  width: 50%;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 20px;
}
.hero-section1 {
  color: white;
  flex-direction: column;
  height: 70%;
}
.hero-title {
  font-size: 80px;
  padding: 30px;
}
.hero-text {
  font-size: 40px;
}
