.section2{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
} 
.section2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width:fit-content;
    height:fit-content;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 30px;
    gap: 5px ;
  }
  .section2-title{
    margin-left: 0;
    font-size: 50px;
    padding-bottom: 40px;
    
  }
  .section2-container div {
    margin: 5px;
    height: fit-content;
  }
  .section2-container-text{ 
    align-content: space-between;
  }
  .section2-container p {
    
    font-weight: bold;
}

  .section2-button {
    background-color: #EC5544;
    color: white;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .section2-button:hover {
    background-color: #e6311c;
  }
  .section2-button.clicked {
    background-color: rgb(45, 158, 45);
    color: white;
  }
  