.section4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 40px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}
.child4{
    height: 100%;
}
.section4-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.section4-info{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    font-size: 30px;
    padding-right: 30px;
}
.section4-info div{
    color: #C2C0BA;
}

.section4-price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
}
.section4-book{
    display: flex; 
    align-items: center;   
    justify-content: center;
    background-color: #EC5544;
    width: 145px;
    border-radius: 0 40px 40px 0;
}
.section4-book img{
    width: 64px;
    height: 64px;
}