.section3 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 300px;
    width: 90%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-top: 30px ;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section3-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 100%;
    position: relative;
  }
  
  .section3-container1-1 {
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); */
  }
  h4{
    /* display: flex; */
    /* margin-left: 130px; */
    font-size: 35px;
    padding-left: 0;
    margin-left: 0;
  }
  .section3-container1-1-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .section3-from{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section3-to{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section3-select{
    font-size: 25px;
    border-color: white;
  }
  .container1-1-1{
    display: flex;
  }
  .section3-container1-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  .section3-depart{
    display: flex;
  }
  .section3-arrive{
    display: flex;
  }
  
  .section3-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC5544;
    /* margin-left: auto; */
    width: 12%;
    /* position: relative; */
    height: 100%;
    border-radius: 0 40px 40px 0;
}
.section3-container2 img{
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.section3 img {
  width: 50px;
  height: 50px;
}
.line {
  width: 700px;
  height: 1px; 
  background-color: black; 
  margin: 0 auto; 
}
